.home-page {
    
  .text-zone {
    position: absolute;
    left: 15%;
    top: 40%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }

  .t-logo {
    font-family: 'Coolvetica';
    color: #ff66ff;
    text-shadow: -5px 0px 0px #ffff66;
    font-size: 10rem;
    opacity: 0;
    animation: rotateIn 1s linear both;
    animation-delay: 1.4s;
    line-height: 0.5em;
  }
  .landing-text {
    color: 	#ffff66;
    font-size: 8rem;
    margin-left: -18px;
    font-family: 'Karla', sans-serif;
    font-weight: 100;
  }
}

h2 {
    color: #331600;
    margin-left: -18px;
    margin-top: -50px;
}