.home-page {

  .text-zone {
    position: absolute;
    left: 15%;
    top: 40%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }

  .t-logo {
    font-family: 'Coolvetica';
    color: #ff66ff;
    text-shadow: -5px 0px 0px #ffff66;
    font-size: 10rem;
    margin-top: -0.05em;
    margin-left: -2rem;
    line-height: 0em;
  }

  .landing-text {
    color: 	#ffff66;
    font-size: 8rem;
    margin-left: 0.02em;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
  }

  .erri {
    margin-left: -10px;
  }
}

h2 {
    color: #331600;
    margin-left: -18px;
    margin-top: -50px;
}
.emoji {
  font-size: 4rem;
  position: absolute;
  margin-top: 3.5rem;
}