.navbar {
  background: #331600;
  width: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;

  .t-logo {
    font-family: 'Coolvetica';
    color: #ff66ff;
    text-shadow: -5px 0px 0px #ffff66;
    font-size: 10rem;
    margin-left: 0.25em;
    margin-top: -0.05em;
  }

  .tedecast {
    font-family: 'Montserrat', sans-serif;
    color: #ffff66;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 100;
    text-align: center;
    margin-top: -5em;
  }
}

nav {
  display: block;
  text-align: center;
  position: absolute;
  height: 20em;
  top: 52%;
  margin-top: -12em;
  width: 100%;

  a {
    font-size: 2.5em;
    color: #ffff66;
    display: block;
    height: 2em;
    position: relative;
    text-decoration: none;

    i {
      transition: all 0.3s ease-out;
    }

    &:hover {
      color: #ffff66;

      svg {
        opacity: 0;
      }

      &:after {
        opacity: 1;
      }
    }

    &:after {
      content: '';
      font-size: 1rem;
      letter-spacing: 2px;
      position: absolute;
      bottom: 2.5em;
      display: block;
      width: 100%;
      text-align: center;
      opacity: 0;
      transition: all 0.3s ease-out;
    }

    &:first-child {
      &::after {
        content: 'HOME';
      }
    }
  }

  a.about-link {
    &:after {
      content: 'ABOUT';
    }
  }

  a.contact-link {
    &:after {
      content: 'CONTACT';
    }
  }

  a.linkedin-link {
    &:after {
      content: 'LINKEDIN';
    }
  }

  a.github-link {
    &:after {
      content: 'GITHUB';
    }
  }

  a.active {
    svg {
      color: #7df9ff;
    }
  }
}
.toggle-button {
  position: absolute;
  top: 1em;
  right: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 2.5em;
  height: 1.5em;
}

.toggle-button .bar {
  height: 0.25em;
  width: 100%;
  background-color: #7df9ff;
  border-radius: 1em;
}

// Mobile changes
@media (max-width: 740px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
  }

  .navbar {
    display: flex;
    width: 10em;
    background: #331600;
    display: flex;
    align-items: center;
    position: fixed;

    .t-logo {
      margin-left: 0.3em;
    }
    .tedecast {
      font-size: 2rem;
      margin-left: -3.8em;
      margin-top: 3em;
    }
  }

  .toggle-button{
    top: 10em;
  }
}
